@* create Template File *@
@(bookForm: Form[Book])
@import helper._
@import views.html.partials._booksFormFields
@layout("create book"){
	<h1>create book</h1>
@helper.form(action=routes.BooksController.save()){
@_booksFormFields(bookForm)

<button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-plus"></i>Create Book</button>


}
}
