@* edit Template File *@
@(bookForm: Form[Book])
@import helper._
@import views.html.partials._booksFormFields
@layout("edit book"){
	
	<h1>edit book</h1>
@helper.form(action=routes.BooksController.update(),'id->"bookUpdateForm"){
@_booksFormFields(bookForm)

}
<button class="btn btn-primary" onclick="sendPutRequest('bookUpdateForm','@routes.BooksController.edit(bookForm.get().id)')">Edit Book</button>	
}

